*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #ffefd5;
  font-family: 'Varela Round', sans-serif;
}

.wrapper {
  width: 95%;
}

.lastWord {
  font-weight: bold;
}

.leftHr {
  float: left;
  width: 30%;
}

.rightHr {
  float: right;
  width: 30%;
}

.logo {
  padding:5%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logoBW {
  display: none;
}

.column1 {
  float: left;
  width: 40%;
}

.column2 {
  float: right;
  width: 60%;
  text-align: center;
}

.summary {
  text-align: left;
}

.villains {
  font-family: 'Homemade Apple', cursive;
  color: #00B3C9;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #00B3C9;
}

.gallery {
  overflow: auto;
  clear: both;
}

.gridItem {
  float: left;
  width: 20%;
  padding: 1%;
}


.gridItem img {
  max-width: 100%;
  border: 1px solid #EE2430;
  border-radius: 7px;
  box-shadow: 6px 6px #FCD63C;
}

.gridItem p {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 0px;
}

.gridItem p:nth-child(even) {
    margin-top: 15px;
}

.gridItem p:last-child {
  font-weight: bold;
  font-size: 16px;
}

.footer {
  clear: both;
  border-top: 3px dotted #EE2430;
  margin-top: 5%;
}

.topHR {
  display: none;
}

nav {
  padding-top: 3%;
}

nav p {
  margin: -10px;
}

nav p:last-child {
  padding-bottom: 7px;
}

nav li {
  display: inline-block;
  list-style: none;
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  padding-right: 10px;
  letter-spacing: .15em;
  text-align: center;
  width: 20%;
}

li hr {
  width: 100%;
}

hr {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-bottom: 3px dotted #ffefd5;
  background: #EE2430;
}


/* MEDIA QUERIES
=========================*/

@media only screen and (max-width: 1280px) {

  .gridItem {
    width: 33%;
    display: inline-block;
  }

  .villains {
    font-size: 18px;
  }

  nav {
    width: 35%;
    position: absolute;
    margin-top: 20%;
    margin-left: 3.5%;
  }

  nav li {
    clear: both;
    display: block;
    margin-left: 0;
    text-align: center;
    width: 50%;
    padding: 7px 0 7px 0;
    width: 80%;
  }

  nav li:first-child {
    border-top: 3px dotted #EE2430;
    padding-top: 20px;
  }

  nav ul {
    padding-right: 10px;
    width: 90%;
  }

  .column2 {
    margin-top: 10%;
  }

  .wrapper {
    overflow: auto;
  }
}


@media only screen and (max-width: 730px) {
  .logo {
    display: none;
  }

  .logoBW {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
  }

  .topHR {
    display: block;
    width: 90%;
  }

  nav {
    width: 100%;
    position: inherit;
    display: inline;
  }

  nav ul {
    padding-right: 10px;
    width: 99%;
  }

  nav li {
    margin-top: -15px;
    display: inline-block;
    width: 32%;
  }

  nav li:first-child {
    border-top: none;
  }

  .column2 {
    float: none;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .villains {
    font-size: 24px;
  }

h1 {
  font-size: 24px;
}
}































/* bottom */
